body {
	font-family: Arial, sans-serif;
	margin: 20px;
}

#markdown-content {
	line-height: 1.6;
}

#markdown-content h1, #markdown-content h2, #markdown-content h3, #markdown-content h4, #markdown-content h5, #markdown-content h6 {
	margin-top: 1.5em;
}

#markdown-content p {
	margin-bottom: 1em;
}

#markdown-content ul, #markdown-content ol {
	margin-bottom: 1em;
}

a {
	color: black;
	text-decoration: none;
}

#markdown-content a:hover {
	text-decoration: underline;
}

.ending_soon {
	color: red;
}

.ending_soon {
	color: red;
}
.header_1 {
	text-align: center;
	font-size: 5em;
	margin-bottom: 0;
}

.header_2 {
	font-size: 2.2em;
	margin-bottom: 0;
}

.header_3 {
	font-size: 1.4em;
	margin-bottom: 0;
}

a.top_headline, a.top_headline_ending_soon {
	font-size: 2.2em;
	max-width: 60%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

a.top_headline_ending_soon {
	color: red;
}

img.top_headline_image {
	margin-left: auto; margin-right: auto; display: block;
}

.section {
	margin-bottom: 20px;
}

.content {
	display: flex;
	align-items: flex-start;
}

.content > p {
	text-align: center;
	margin-right: 20px;
	width: 150px
}

img {
	margin-right: 20px;
}

ul {
	margin: 0;
	padding: 0;
	padding-top: 1em;
	padding-left: 1em;
	line-height: 1.3em;
	list-style-type: none;
}

ul {
	font-size: 0.8em;
}

div.content p {
	display: none;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
  }
  
  @media (min-width: 768px) {
	.container {
	  grid-template-columns: 1fr 1fr 1fr;
	}
  }
  
