<!DOCTYPE html>
<html lang="en">
<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-BYJGG2BWZG"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-BYJGG2BWZG');
	</script>
	<title>Hobby Report</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Hobby news and collectables.  Updated daily.">
	<meta name="keywords" content="Hobby, Trading Cards, Collectables">
	<meta name="author" content="Hobby Report">
	<style>{{style_inline}}</style>
	<link rel="stylesheet" href="style.css">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<link rel="canonical" href="https://hobbyreport.net">
</head>
<body>
