<!DOCTYPE html>
<html lang="en">
<head>
	<title>Hobby Report</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Hobby news and collectables.  Updated daily.">
	<meta name="keywords" content="Hobby, Trading Cards, Collectables">
	<meta name="author" content="Hobby Report">
	<style>{{style_inline}}</style>
	<link rel="stylesheet" href="style.css">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<link rel="canonical" href="https://hobbyreport.net">
	<base href="https://hobbyreport.net/" target="_blank">
	<meta property="og:title" content="Hobby Report: Your Daily Source for Collectibles & Trading Cards">
	<meta property="og:description" content="Explore the world of hobbies with daily updates on collectibles, trading cards, and rare finds. Stay ahead of market trends with expert insights.">
	<meta property="og:image" content="https://hobbyreport.net/og-image.jpeg">
	<meta property="og:url" content="https://hobbyreport.net">
	<meta property="og:type" content="website">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Hobby Report: Your Daily Source for Collectibles & Trading Cards">
	<meta name="twitter:description" content="Stay updated with the latest hobby news, trends, and collectible trading cards. Discover daily insights on rare finds, market values, and expert tips.">
	<meta name="twitter:image" content="https://hobbyreport.net/og-image.jpeg">
	<script src="js/display.js"></script>
	{{header_js}}
</head>
<body>
